Repository Gidsss/UwUIDE, pull requests merged in 2024-05, with the labels that each got.

#255 Fix/rhs dunder methods
  src/builtin/types/iterable.py
  src/builtin/types/number.py
Labels: bug, builtin

#257 fix: bools not delimited by equality operators
  constants/constants.py
Labels: bug

#259 Feat/bool builtin type
  constants/path.py
  src/builtin/types/iterable.py
  src/builtin/types/namespace.py
  src/builtin/types/number.py
  src/builtin/types/utils.py
  src/compiler/compiler.py
  src/lexer/token.py
  src/parser/productions.py
Labels: enhancement, parser, lexer, compiler, builtin

#262 fix: convert to int instead of Int in indexed identifiers
  src/parser/productions.py
Labels: bug, parser

#266 Fix/indexed id assignment
  src/analyzer/error_handler.py
  src/analyzer/type_checker.py
  src/builtin/types/iterable.py
  src/lexer/token.py
Labels: bug, enhancement, analyzer, builtin

#267 fix: double backslash on escaped chars during compilation
  src/compiler/compiler.py
Labels: bug, compiler

#274 Parse Array Dimensions
  src/lexer/token.py
  src/parser/parser.py
Labels: refactor, parser, lexer

#275 Refactor/array dimension type checking
  src/analyzer/analyzer.py
  src/analyzer/error_handler.py
  src/analyzer/type_checker.py
  src/lexer/token.py
  src/parser/parser.py
  src/parser/productions.py
Labels: refactor, parser, analyzer, lexer

#282 Fix/fn calls as accessors and subscriptors, Feat/substring assignment error
  src/analyzer/error_handler.py
  src/analyzer/type_checker.py
  src/lexer/token.py
  src/parser/parser.py
  src/parser/productions.py
Labels: bug, enhancement, parser, analyzer

#287 feat: default `__str__()` and `__repr__()` for user defined classes
  src/parser/productions.py
Labels: enhancement, parser

#291 refactor: return `Token.exists()` to its original functionality
  src/lexer/token.py
Labels: refactor, lexer

#293 Feat/input stmt
  src/parser/parser.py
  src/parser/productions.py
Labels: enhancement, refactor, parser

#296 fix: empty `inpwt()` converted to `String`, `String.split()` takes no args, `Bool` math ops should return `Int` and `Float`
  src/builtin/types/iterable.py
  src/builtin/types/number.py
Labels: bug, builtin

#299 Refactor/type checker signatures
  src/analyzer/type_checker.py
Labels: refactor, analyzer

#301 fix: `]]` not delimited by `]`
  constants/constants.py
Labels: bug, lexer

#298 method calls are now transpiled with self, declaration member checking checks value first before id
  src/analyzer/analyzer.py
  src/analyzer/error_handler.py
  src/analyzer/type_checker.py
  src/parser/productions.py
Labels: bug, refactor, parser, analyzer

#306 Fix/escaped char transpilation
  src/compiler/compiler.py
  src/lexer/lexer_components/peek.py
  src/lexer/token.py
Labels: bug, lexer, compiler

#307 Comment Parsing in Class Bodies
  src/parser/parser.py
Labels: bug

#320 Fix class as function params
  src/parser/productions.py
Labels: bug

#325 Fix/string indexing and accessor bugs
  src/analyzer/type_checker.py
  src/builtin/types/iterable.py
Labels: bug, analyzer, builtin
